

services:
  rf_original:
    build: ./rf_original
    container_name: rf_original
    ports:
      - "8001:8001"
    environment:
      - PORT=8001

  rf_cross_val:
    build: ./rf_cross_val
    container_name: rf_cross_val
    ports:
      - "8002:8002"
    environment:
      - PORT=8002

  aggregator:
    build: ./aggregator
    container_name: aggregator
    ports:
      - "8080:8080"
    environment:
      - rf_original=http://rf_original:8001/predict
      - rf_cross_val=http://rf_cross_val:8002/predict
    depends_on:
      - rf_original
      - rf_cross_val
